Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Core.Assets
FubuMVC.Core.UI
FubuMVC.Core.View
FubuMVC.Diagnostics
FubuMVC.JQueryUI
FubuMVC.Navigation
FubuMVC.Spark
FubuMVC.StructureMap
FubuMVC.TwitterBootstrap
HtmlTags
jQuery
Microsoft.AspNet.SignalR
Microsoft.AspNet.SignalR.Core
Microsoft.AspNet.SignalR.JS
Microsoft.AspNet.SignalR.SystemWeb
Microsoft.Owin
Microsoft.Owin.Host.SystemWeb
Microsoft.Owin.Security
Microsoft.Web.Infrastructure
Newtonsoft.Json
Owin
Spark
structuremap
